/* Center the form on the screen */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/static/images/background.svg') no-repeat center center; 
    background-size: cover; /* Ensures the background covers the container */
    background-attachment: fixed; /* Optional: Makes the background fixed during scroll */
    padding: 20px; /* Adds some padding for smaller screens */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

/* Style the login box */
/* Style the login box */
.login-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box; /* Ensures padding is included in the width */
}



/* Title and subtitle */
.login-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 2px;
}

.login-subtitle {
    font-size: 0.85rem;
    margin-bottom: 22px;
}

.login-subtitle a {
    color: #007bff;
    text-decoration: none;
}

.login-subtitle a:hover {
    text-decoration: underline;
}

/* Input fields */
.form-group {
    margin-bottom: 12px;
    text-align: left;
}

.form-group label {
    font-weight: 600;
    color: #333;
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 0.95rem;
    margin-bottom: 2px;
}

/* Button styling */
.login-btn {
    background: linear-gradient(90deg, #b62727 0%, #630101 100%);
    color: white;
    border: none;
    font-size: 1rem;
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    margin-top: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.login-btn:hover {
    background: linear-gradient(90deg, #ce2a2a 0%, #800101 100%);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Forgot password link */
.forgot-password {
    margin-top: 10px;
    font-size: 0.85rem; 
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}