<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PoliticianTrade - {% block title %}{% endblock %}</title>
    <meta name="description" content="Gain insights from political insiders and make informed trading choices.">
    <meta name="keywords" content="politics, trade, insights, subscription">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl.carousel/1.3.3/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/account.css">
    <link rel="stylesheet" href="/static/css/forgot_password.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" >PoliticianTrade.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">FAQ</a>
                    </li>
                {% endif %}
            </ul>
            <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <a class="nav-link account-nav-link" href="{{ url_for('account') }}">Account</a>
                    <a class="nav-link" href="{{ url_for('contact.contact') }}">Contact Us</a>
                    <a class="nav-link btn account-logout-btn" href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
                    <a class="nav-link btn navbar-login-btn" href="{{ url_for('auth.login') }}">Login</a>
                    <a class="nav-link btn navbar-signup-btn" href="{{ url_for('auth.register') }}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer bg-light text-center">
        <div class="container">
            <p>&copy; {{ current_year }} Your Service. All rights reserved.</p>
            <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl.carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="/static/js/cookies.js"></script>
    <script>
        document.querySelectorAll('.nav-link').forEach(item => {
            item.addEventListener('click', function() {
                if (window.innerWidth <= 991) {
                    document.querySelector('.navbar-toggler').click();
                }
            });
        });
    </script>
    <script>
        document.querySelector('.navbar-toggler').addEventListener('click', function() {
            this.classList.toggle('open');
        });
    </script>
</body>
</html>